body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.main {
  display: grid;
  min-width: 600px;
  height: 100vh;
  /* width: 800px; */
  border: 1px solid cadetblue;
  grid-template-columns: auto 1fr auto;
}

.main {
  border: cadetblue 2px solid;
}
#back {
  display: none;
  margin-top: 15px;
  margin-left: 15px;
}
#user {
  margin-top: 15px;
  margin-left: 15px;
}
.navi {
  width: 200px;
  background: antiquewhite;
  /*flex: 1fr;*/
  flex-direction: row;
}

#menu {
  display: none;
}

.list {
  background: cadetblue;
  /*flex: 6fr;*/
  flex-direction: column;
  padding: 20px;
  /*row-gap: 10px;*/
}

.listItem:hover{
background-color: antiquewhite;
}
.list div {
  display: grid;
  grid-template-columns: auto 1fr auto;
  height: 30px;
  color: darkslategrey;
  background: white;
  font-size: 20px;
  /*border: black 1px solid;*/
  border-radius: 5px;
  line-height: 30px;
  padding: 10px;
  margin: 3px;
}

.list div img {
  margin-right: 5px;
  padding-top: 8px;
}

.list #addNew input {
  border: 0;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 12px;
}

#addNew img:nth-child(3){
  display: none;
}

.task {
  width: 300px;
  background-color: darkgray;
  display: none;
  /* visibility: hidden; */
  /* visibility: visible; */
}

@media screen and (max-width: 800px) {
  .main {
    grid-template-columns: 0 1fr auto;
  }
  #menu {
    display: block;
  }
}
